#name {
    text-align: center;
    color: #eff4ff;
    font-family: 'Inconsolata', cursive;
    font-size: 40pt;
}

body {
    background-color: #1d1d1d;
}

h2[id^="description"] {
    font-family: 'Inconsolata', cursive;
    font-size: 35pt;
    width: 300px;
    position: absolute;
    text-align: center;
    color: #00aba9;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#wrapper {
    text-align: center;
}

#back {
    position: fixed;
    top: 10;
    left: 10;
    color: #eff4ff;
    font-size: 25pt;
    opacity: 0.8;
}

div[id^="row"] {
    width: 70vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    font-size: 45pt;
}

#row2 {
    width: 50vw;
    transform: translate(-50%, 160%);
}

#row3 {
    width: 30vw;
    transform: translate(-50%, 310%);
}

#row4 {
    text-align: center;
    transform: translate(-50%, 460%);
}

a:link, a:visited {
    color: #CCCC99;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 50px rgba(29,29,29,0.5);
    }
    100% {
        text-shadow: 0 0 50px rgba(0,171,169,1);
    }
}

@keyframes glowDisappear {
    0% {
        text-shadow: 0 0 50px rgba(0,171,169,1);
    }
    100% {
        text-shadow: 0 0 50px rgba(29,29,29,0.5);
    }

}

@keyframes appear {
    0% {
        color: rgba(29,29,29,0.5);
    }
    100% {
        color:rgb(0,171,169);
    }
}

@keyframes disappear {
    0% {
        color: rgb(0,171,169);
    }
    100% {
        color:rgba(29,29,29,0.5);
    }
}

.textAppear {
    animation: appear 0.5s 1 ease;
    color: rgba(0,171,169,1);
}

.textDisappear {
    animation: disappear 0.5s 1 ease;
    color: rgba(29,29,29,0.5);
}

.glowAppear {
    animation: glow 0.5s 1 ease;
    text-shadow: 0 0 50px rgba(0,171,169,1);
}

.glowDisappear {
    animation: glowDisappear 0.5s 1 ease;
    text-shadow: 0 0 50px rgba(29,29,29,0.5);
}

a:hover {
    animation: glow 0.5s 1 ease;
    text-shadow: 0 0 50px rgba(0,171,169,1);
}

.iconRight {
    float: right;
    text-align: right;
}

.iconLeft {
    float: left;
}